{% extends "portal/base.html" %}
{% load static %}
{% block stylesheet %}
    <link rel="stylesheet" type="text/css" href="{% static 'portal/about.css' %}">
{% endblock stylesheet %}
{% block content %}
    <div class="Content">
        <br>
        <h1 class="Welcome">Welcome to UniVista</h1>
        <h3 class="P_title">The Ultimate College Navigator</h3>
        <p class="">At UniVista, we understand that choosing the right college is one of the most significant decisions you'll make in your academic and professional journey. Our mission is to empower students and their families with comprehensive, accurate, and up-to-date information to make informed choices about higher education.
        </p>
        <hr>
        <h3>Our Mission</h3>
        <p>We aim to simplify the college selection process by providing a user-friendly platform that offers a wealth of resources, and some amazing tools. Whether you're exploring potential majors, comparing your preferred colleges, or seeking insights into campus life, UniVista is here to guide you every step of the way.</p>
        <hr>
        <h3>What We Offer</h3>
        <ul>
            <li>You can fill in your choices and get their closing ranks compared</li>
            <li>You get the access to the OR-CR of around 120 colleges including IITs, NITs, IIITs, GFIs and so on </li>
            <li>You get insights into various trends through exciting plots and graphs</li>
            <li>You get a seperate space to prepare your college preference list</li>
        </ul>
        <hr>
        <h3>Our Commitment</h3>
        <p>At UniVista, we are committed to transparency, accuracy, and user satisfaction. We continuously update our database and resources to ensure you have access to the latest and most relevant information.</p>
        <hr>
        <h3>Join Our Community</h3>
        <p>Join thousands of students and families who have successfully navigated the college selection process with our help.</p>
        <hr>
        <p>Thank you for choosing UniVista. We're excited to be a part of your educational journey and look forward to helping you achieve your academic and career goals.
        </p>
        <br>
        
        <hr>
    </div>
{% endblock content %}