{% extends "portal/base.html" %}
{% load static %}
{% block stylesheet %}
    <link rel="stylesheet" href="{% static 'portal/faqs.css' %}">
{% endblock stylesheet %}    
{% block content %}  
       <div class="wrapper">
            <h1>Frequently Asked Questions(FAQs)</h1>
            <div class="faq">
                <button class="accordion">
                    <p>What is the prefernce of students: a circuital branch in newer IITS or a core branch in older IITS?</p>
                    <i class="fa fa-chevron-down"></i>
                </button>
                <div class="pannel">
                    <p>This question has been a matter of debate since many years and students really face a hard time choosing between the two.
                       Now, let's take a look at the cutoffs of IITG CSE vs IITD EEE and IITB Civil vs IITP CSE.</p>
                       <div id="canvas">
                        <canvas id="myChart"></canvas>
                        <hr>
                        <button class="chart" id="line">Line Chart</button>
                        <button class="chart" id="bar">Bar Chart</button>
                     </div>
                    <p> EEE in IIT Delhi was more favourable in the past years but now the cutoffs have become almost at par with IITG CSE. Similar trend can be seen between IITB Civil and IITP CSE, where the latter is in more demand recently.
                        Hence, it can be seen that students are preferring circuital branches in tier 2 IITS over core ones in tier 1.
                    </p>
                    
                </div>
            </div>
            <div class="faq">
                <button class="accordion">
                    Which branch is getting more popular in the recent years?
                    <i class="fa fa-chevron-down"></i>
                </button>
                <div class="pannel">
                    <p>Apart from Computer Science and Engineering, circuital branches like Mathematics and Computing, Data Science and Artificial Intelligence, Information Technology and so on are evolving rapidly.
                        Let us look at the given data which shows the cutoffs of EEE, ME, MNC and DSAI branches of IITG.
                    </p>
                    <div id="canvas2">
                        <canvas id="myChart2"></canvas>
                        <hr>
                        <button class="chart" id="line2">Line Chart</button>
                        <button class="chart" id="bar2">Bar Chart</button>
                     </div>
                </div>
            </div>
            <div class="faq">
                <button class="accordion">
                    What is the mindset of the students towards lower branches of IITS? Where do those branches fall in their preference list?
                    <i class="fa fa-chevron-down"></i>
                </button>
                <div class="pannel">
                    <p>In 2023, there were a total of 335 vacant seats across IITs after the final round of admissions. Additionally, there were significant vacancies in NITs, with 4,406 seats available in the first round of CSAB counselling​.
                         This is indiactive of the fact that students are ready to give up on the iitian tag for the sake of branches. Many students go for tech oriented branches in lower colleges than lower branches in IITS or NITS.
                    </p>
                </div>
            </div>

            <div class="faq">
                <button class="accordion accordian6">
                    What is the category wise seat matrix in IITs in academic year 2024?
                    <i class="fa fa-chevron-down"></i>
                </button>

                <div class="pannel">
                    <div class= "donut">
                        <div>
                            <p class="p6">
                                Approximately 17,485 seats are available across all IITs for the 2024 academic year.
                                <br>
                                <br>
                                There are 1,692 supernumerary seats specifically reserved for female candidates to promote gender diversity.
                                <br>
                                5% of the seats in each category is reserved for PWD students.
                            </p>
                            <ul class="p6">
                                <li>General (Open): 6,383</li>
                                <li>General-PwD: 346</li>
                                <li>EWS: 1,568</li>
                                <li>EWS-PwD: 84</li>
                                <li>OBC-NCL: 4,259</li>
                                <li>OBC-NCL-PwD: 226</li>
                                <li>SC: 2,370</li>
                                <li>SC-PwD: 122</li>
                                <li>ST: 1,179</li>
                                <li>ST-PwD</li>
                            </ul> 
                        </div>
                        <div id="canvas6">
                            <canvas id="myChart6"></canvas>
                        </div>
    
                    </div>
                </div>
            </div>

            <div class="faq">
                <button class="accordion">
                     Are IITs overrated? Are IITs worth the hype?
                    <i class="fa fa-chevron-down"></i>
                </button>
                <div class="pannel">
                    <p>To determine whether IITs are overrated, we need to analyze them across various dimensions.
                        Let us first start off with alumni success:IITs have nurtured some of the great personalities of the country.Notable examples include Sundar Pichai (CEO of Google and Alphabet Inc.), N. R. Narayana Murthy (co-founder of Infosys), K. Radhakrishnan(former Chairman of ISRO),Arvind Krishna (CEO of IBM)  and many more.
                        Many IITians have founded successful startups, contributing to India's burgeoning tech ecosystem.
                        <br>
                        <br>
                        Coming to rankings, IITs often rank highly in subject-specific areas, particularly in engineering and technology, but they generally lag behind in global university rankings.
                        The below chart shows the QS rankings of three most prestigious instituitions of the country.
                    </p>
                    <div id="canvas3">
                        <canvas id="myChart3"></canvas>
                        <hr>
                        <button class="chart" id="line3">Line Chart</button>
                        <button class="chart" id="bar3">Bar Chart</button>
                     </div>
                     <p>Coming to mental health,the competitive environment can foster resilience and coping skills among students but on the contrary, the intense competition and academic pressure leads to stress, anxiety, and in extreme cases, suicides.</p>
                     <p>If we focus on the quality of students and the rigor of academic programs,advanced research and development, IITs worth the hype. If the emphasis is on mental health, student well-being, and global recognition, IITs might appear overrated to some.</p>
                     <p>IITs have significant strengths, particularly in academic rigor, alumni success, and infrastructure, there are areas that warrant critical attention such as mental health, global rankings, and disparity among campuses.
                        
                     </p>
                </div>
            </div>
            <div class="faq">
                <button class="accordion">
                    Does getting into an IIT or NIT secure my career?
                    <i class="fa fa-chevron-down"></i>
                </button>
                <div class="pannel">
                    <p>Getting into an IIT or NIT provides career security. Let us analyze the statement across various domains. Firtsly, let us look at the placement percentage of some of the topmost IITS over the years.
                        
                    </p>
                    <div id="canvas4">
                        <canvas id="myChart4"></canvas>
                        <hr>
                        <button class="chart" id="line4">Line Chart</button>
                        <button class="chart" id="bar4">Bar Chart</button>
                    </div>
                    <p>If we take the average placement percentage to be 80% and approx 5% to have opted for higher studies, 15% of the students still were not able to get a job even after being an IITIAN. 
                        <br>
                        <br>
                        IITs do offer great opportunities (including research projects, international collaborations, or entrepreneurial ventures), infrastructures, esteemed professors, talented peers/seniors and a successful alumni network. These colleges have got independent status and are heavily funded. Projects, internships and placements are easier to get here than anywhere else.
                        <br>
                        <br>

                        But wherever you are, whatever you do, whoever you are, whenever you aim for a better life, a better you, the ultimate weapon that determines the rate of your success is your own hard work. 
                        Sundar Pichai, Narayana Murthy were Iitians, at the same time, Ratan Tata, Satya Nadella were not. Your career depends on you and only you.
                         </p>
                </div>
            </div>

            <div class="faq">
                <button class="accordion">
                     What is the club culture of IITs?
                    <i class="fa fa-chevron-down"></i>
                </button>
                <div class="pannel">

                    <div>
                        <p>
                            The club culture at different Indian Institutes of Technology (IITs) is vibrant and diverse, reflecting the interests and talents of their students. Each IIT has a unique mix of clubs and societies catering to a wide range of activities, from technical and academic interests to cultural and recreational pursuits. 
                            <ul class="p6">
                                <li>Technical Clubs: Robotics Club, Electronics Club, Coding Club, Aeromodelling Club</li>
                                <li>Cultural Clubs: Dance Club, Music Club, Dramatics Club, Literary Club</li>
                                <li>Recreational Clubs: Photography Club, Film Club, Quiz Club</li>
                                <li>Professional Clubs: E-Cell, Consulting Club, Finance Club</li>
                            </ul>
                            <p>Additionally, IITs host annual fests where these clubs often showcase their activities and achievements, adding to the vibrant campus life.</p>
                        </p>
                    </div>

                    <div id="canvas6">
                        <canvas id="myChart6"></canvas>
                        <hr>   
                    </div>

                </div>
            </div>

            <div class="faq">
                <button class="accordion">
                    How has female reservation increased over the years?
                    <i class="fa fa-chevron-down"></i>
                </button>
                <div class="pannel">
                    <p>
                    </p>
                    <div id="canvas5">
                        <canvas id="myChart5"></canvas>
                        <hr>
                        <button class="chart" id="line5">Line Chart</button>
                        <button class="chart" id="bar5">Bar Chart</button>
                     </div>
                </div>
            </div>

        </div>
           

{% endblock content%} 
{% block scripts %}   
<script src="https://cdnjs.cloudflare.com/ajax/libs/d3/7.9.0/d3.min.js" integrity="sha512-vc58qvvBdrDR4etbxMdlTt4GBQk1qjvyORR2nrsPsFPyrs+/u5c3+1Ct6upOgdZoIl7eq6k3a1UPDSNAQi/32A==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
<script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
<script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.8.3/jquery.min.js"></script>     
  <script>
    
    var data=[]
d3.csv("{% static 'portal/data/File.csv' %}").then(function(datapoints){
       data=datapoints
       const iitg = data.filter(r=>  r['Institute'] === 'Indian Institute of Technology Guwahati' && r['Academic Program Name'] === 'Computer Science and Engineering (4 Years, Bachelor of Technology)' && r['Round']==6 && r['Seat Type'] == 'OPEN' && r['Gender'] == 'Gender-Neutral')
       const cr_g=[]
       const iitd = data.filter(r=>  r['Institute'] === 'Indian Institute of Technology Delhi' && r['Academic Program Name'] === 'Electrical Engineering (4 Years, Bachelor of Technology)' && r['Round']==6 && r['Seat Type'] == 'OPEN' && r['Gender'] == 'Gender-Neutral')
       const cr_d=[]
       const iitb = data.filter(r=>  r['Institute'] === 'Indian Institute of Technology Bombay' && r['Academic Program Name'] === 'Civil Engineering (4 Years, Bachelor of Technology)' && r['Round']==6 && r['Seat Type'] == 'OPEN' && r['Gender'] == 'Gender-Neutral')
       const cr_b=[]
       const iitp = data.filter(r=>  r['Institute'] === 'Indian Institute of Technology Patna' && r['Academic Program Name'] === 'Computer Science and Engineering (4 Years, Bachelor of Technology)' && r['Round']==6 && r['Seat Type'] == 'OPEN' && r['Gender'] == 'Gender-Neutral')
       const cr_p=[]
       const iitg_mnc = data.filter(r=>  r['Institute'] === 'Indian Institute of Technology Guwahati' && r['Academic Program Name'] === 'Mathematics and Computing (4 Years, Bachelor of Technology)' && r['Round']==6 && r['Seat Type'] == 'OPEN' && r['Gender'] == 'Gender-Neutral')
       const iitg_ai = data.filter(r=>  r['Institute'] === 'Indian Institute of Technology Guwahati' && r['Academic Program Name'] === 'Data Science and Artificial Intelligence (4 Years, Bachelor of Technology)' && r['Round']==6 && r['Seat Type'] == 'OPEN' && r['Gender'] == 'Gender-Neutral')
       const iitg_mech= data.filter(r=>  r['Institute'] === 'Indian Institute of Technology Guwahati' && r['Academic Program Name'] === 'Mechanical Engineering (4 Years, Bachelor of Technology)' && r['Round']==6 && r['Seat Type'] == 'OPEN' && r['Gender'] == 'Gender-Neutral')
       const iitg_eee = data.filter(r=>  r['Institute'] === 'Indian Institute of Technology Guwahati' && r['Academic Program Name'] === 'Electronics and Electrical Engineering (4 Years, Bachelor of Technology)' && r['Round']==6 && r['Seat Type'] == 'OPEN' && r['Gender'] == 'Gender-Neutral')
    //    const iitb_general_male = data.filter(r=>  r['Institute'] === 'Indian Institute of Technology Bombay' && r['Academic Program Name'] === 'Computer Science and Engineering (4 Years, Bachelor of Technology)' && r['Round']==6 && r['Seat Type'] == 'OPEN' && r['Gender'] == 'Gender-Neutral')
       const iitb_general_female_cse = data.filter(r=>  r['Institute'] === 'Indian Institute of Technology Bombay' && r['Academic Program Name'] === 'Computer Science and Engineering (4 Years, Bachelor of Technology)' && r['Round']==6 && r['Seat Type'] == 'OPEN' && r['Gender'] == 'Female-only (including Supernumerary)')
       const iitb_general_female_eee = data.filter(r=>  r['Institute'] === 'Indian Institute of Technology Bombay' && r['Academic Program Name'] === 'Electrical Engineering (4 Years, Bachelor of Technology)' && r['Round']==6 && r['Seat Type'] == 'OPEN' && r['Gender'] == 'Female-only (including Supernumerary)')
       
       const cr_fem_cse=[]
       const cr_fem_eee=[]
       const cr_g_mnc=[]
       const cr_g_ai=[]
       const cr_g_mech=[]
       const cr_g_eee=[]
       
       
       for(i=0;i<iitg.length;i++)
        {
            cr_g.push(iitg[i]['Closing Rank'])
            cr_d.push(iitd[i]['Closing Rank'])
            cr_b.push(iitb[i]['Closing Rank'])
            cr_p.push(iitp[i]['Closing Rank'])
            cr_g_mech.push(iitg_mech[i]['Closing Rank'])
            cr_g_eee.push(iitg_eee[i]['Closing Rank'])
            cr_g_mnc.push(iitg_mnc[i]['Closing Rank'])
            
        }
        for(i=0;i<6;i++)
        {
            cr_fem_cse.push(iitb_general_female_cse[i]['Closing Rank'])
            cr_fem_eee.push(iitb_general_female_eee[i]['Closing Rank'])
        }
        console.log(cr_fem_cse)
        for(i=0;i<iitg_ai.length+5;i++)
            {
                if(i<5){
                    cr_g_ai.push(0);
                }
                else{
                    cr_g_ai.push(iitg_ai[i-5]['Closing Rank']) 
                } 
            }

const line=document.getElementById('line');
const bar=document.getElementById('bar');

line.addEventListener('click',changeline);
bar.addEventListener('click',changebar);   
       


var ctx = document.getElementById('myChart').getContext('2d');
const chart = new Chart(ctx,{
    type:'bar',
    data:{
        labels: ['2016','2017','2018','2019','2020','2021','2022','2023'],
        datasets: [{ label: 'CSE in IIT Guwahati',
                     backgroundColor: 'rgb(255,99,132)',
                     data:cr_g
    },{
                    label: 'EEE in IIT Delhi',
                    backgroundColor: 'rgb(100,210,210)',
                    data:cr_d
    },{
                    label: 'Civil in IIT Bombay',
                    backgroundColor: 'rgba(255,153,102,0.8)',
                    data:cr_b

    },{            
                    label: 'CSE in IIT Patna',
                    backgroundColor: 'rgba(102,217,255)',
                    data:cr_p

    }]
    
    
}
});
function changeline(){
    const updatetype='line';
    chart.config.type=updatetype;
    chart.update();
    
  
}; 
function changebar(){
   const updatetype='bar';
   chart.config.type=updatetype;
   chart.update();
   
};

const ctx6 = document.getElementById('myChart6').getContext('2d');
const data1 = {
    labels: ['OPEN','EWS','SC','ST','OBC-NCL'],
    datasets: [{
        data: [22349,5440,8099,4548,13968],
    }]
};
const options = {
    plugins: {
        legend: {
            display: false
        }
}
};

const edgeTextPlugin = {
    id: 'edgeText',
    afterDatasetsDraw(chart) {
        const ctx = chart.ctx;
        const dataset = chart.data.datasets[0];
        const total = dataset.data.reduce((acc, val) => acc + val, 0);

        chart.data.labels.forEach((label, i) => {
            const value = dataset.data[i];
            const percentage = ((value / total) * 100).toFixed(2) + '%';
            const meta = chart.getDatasetMeta(0).data[i];
            const startAngle = meta.startAngle;
            const endAngle = meta.endAngle;
            const midAngle = startAngle + (endAngle - startAngle) / 2;
            const radius = meta.outerRadius/1.3;

            const posX = meta.x + radius * Math.cos(midAngle);
            const posY = meta.y + radius * Math.sin(midAngle);

            ctx.fillStyle = 'black';
            ctx.textAlign = 'center';
            ctx.textBaseline = 'middle';
            ctx.font = '16px Arial';

            ctx.fillText(label, posX, posY - 10);
            ctx.fillText(percentage, posX, posY + 10);
        });
    }
};

Chart.register(edgeTextPlugin);

const myDoughnutChart = new Chart(ctx6, {
    type: 'doughnut',
    data: data1,
    options: options,
});       





var acc= document.querySelectorAll('.accordion');
var i;
for(i=0;i<acc.length;i++)
{
acc[i].addEventListener('click',function(){
    

    var pannel=this.nextElementSibling;
    if(pannel.style.display === 'block'){
        pannel.style.display = 'none';
    }
    else{
        pannel.style.display = 'block';
    }
});
}


const line2=document.getElementById('line2');
const bar2=document.getElementById('bar2');

line2.addEventListener('click',changeline2);
bar2.addEventListener('click',changebar2);   
       

var ctx2 = document.getElementById('myChart2').getContext('2d');
const chart2 = new Chart(ctx2,{
    type:'bar',
    data:{
        labels: ['2016','2017','2018','2019','2020','2021','2022','2023'],
        datasets: [{ label: 'EEE IITG',
                     backgroundColor: 'rgb(255,73,102)',
                     data:cr_g_eee
    },{
                    label: 'ME IITG',
                    backgroundColor: 'rgb(158,109,255)',
                    data:cr_g_mech
    },{
                    label: 'MNC IITG',
                    backgroundColor: 'rgb(55,174,83)',
                    data:cr_g_mnc

    },{            
                    label: 'DSAI IITG',
                    backgroundColor: 'rgb(197,228,255)',
                    data:cr_g_ai

    }]
    
    
}
});
function changeline2(){
    const updatetype='line';
    chart2.config.type=updatetype;
    chart2.update();
    
  
}; 
function changebar2(){
   const updatetype='bar';
   chart2.config.type=updatetype;
   chart2.update();
   
};



const line3=document.getElementById('line3');
const bar3=document.getElementById('bar3');

line3.addEventListener('click',changeline3);
bar3.addEventListener('click',changebar3);

var ctx3 = document.getElementById('myChart3').getContext('2d');
const chart3 = new Chart(ctx3,{
    type:'bar',
    data:{
        labels: ['2016','2017','2018','2019','2020','2021','2022','2023','2024'],
        datasets: [{ label: 'IISc Bangalore',
                     backgroundColor: 'rgb(255,99,132)',
                     data:[147,151,185,172,182,182,183,151,225]
    },{
                    label: 'IIT Delhi',
                    backgroundColor: 'rgb(158,187,255)',
                    data:[179,183,175,179,190,185,180,176,197]
    },{
                    label: 'IIT Bombay',
                    backgroundColor: 'rgb(158,187,67)',
                    data:[202,220,182,176,150,170,175,165,149]

    }]
    
    
}
});
function changeline3(){
    const updatetype='line';
    chart3.config.type=updatetype;
    chart3.update();
    
  
}; 
function changebar3(){
   const updatetype='bar';
   chart3.config.type=updatetype;
   chart3.update();
   
};

const line4=document.getElementById('line4');
const bar4=document.getElementById('bar4');

line4.addEventListener('click',changeline4);
bar4.addEventListener('click',changebar4);


var ctx4 = document.getElementById('myChart4').getContext('2d');
const chart4 = new Chart(ctx4,{
    type:'bar',
    data:{
        labels: ['2019','2020','2021','2022','2023'],
        datasets: [{ label: 'IIT Bombay',
                     backgroundColor: 'rgb(255,197,67)',
                     data:[79,70,74,78,82]
    },{
                    label: 'IIT Delhi',
                    backgroundColor: 'rgb(255,80,67)',
                    data:[87,86,80,78,85]
    },{
                    label: 'IIT Madras',
                    backgroundColor: 'rgb(111,134,255)',
                    data:[73,76,71,70,80]

    }]
    
    
    
    }

});
function changeline4(){
    const updatetype='line';
    chart4.config.type=updatetype;
    chart4.update();
    
  
}; 
function changebar4(){
   const updatetype='bar';
   chart4.config.type=updatetype;
   chart4.update();
   
};
const line5=document.getElementById('line5');
const bar5=document.getElementById('bar5');

line5.addEventListener('click',changeline5);
bar5.addEventListener('click',changebar5);

var ctx5 = document.getElementById('myChart5').getContext('2d');
const chart5= new Chart(ctx5,{
    type:'bar',
    data:{
        labels: ['2018','2019','2020','2021','2022','2023'],
        datasets: [{ label: 'CSE',
                     backgroundColor: 'rgb(255,99,132)',
                     data:cr_fem_cse
    },{
                    label: 'EEE',
                    backgroundColor: 'rgb(200,180,220)',
                    data:cr_fem_eee
    }
                    
    ]
    
    
}
});
function changeline5(){
    const updatetype='line';
    chart5.config.type=updatetype;
    chart5.update();
    
  
}; 
function changebar5(){
   const updatetype='bar';
   chart5.config.type=updatetype;
   chart5.update();
   
};







});


    

  </script>
{% endblock scripts %}

