body{
    margin:0px;
    overflow-x: hidden;
    height: 100vh;
   
}
.body{
    margin-left: 60px;
    margin-right: 60px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
.Navbar{
    background-image: url(Nav_back.png);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size:100% 100%;
    box-shadow:0px 4px 8px 0px rgba(0,0,0 ,0.8);
    height: 15%;
    position:sticky;
    width: 100%;
    align-items: center;
    top: 0;
}

.title{
    margin-top: 40px;
}

.select{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.option1{
    flex-basis: 150px;
    flex-grow: 1.5;
    flex-shrink: 1.5;
    display: grid;
    grid-template-rows: 1fr 1fr;
}

.option2{
    flex-basis: 250px;
    flex-grow: 2.5;
    flex-shrink: 2.5;
    display: grid;
    grid-template-rows: 1fr 1fr;
}

label{
    font-size: x-large;
}

select{
    width:100px;
    height: 70%;
    background-color: whitesmoke;
    box-shadow: 0 0 10px rgba(0, 0, 0,0.2);
}

.btn{
    flex-basis: 100px;
    flex-grow: 1;
    flex-shrink: 1;
    align-self: center;
    justify-self: start;
}

.table{
    width: 100%;
    /* margin: 5%; */
    overflow-x: auto;

}

.table_head{
    background-color:rgb(134, 90, 9);
    color: whitesmoke;
}
.content{
    width: 100%;
}
button{
    color: rgb(118, 81, 12);
    background-color: whitesmoke;
   
    padding:5px 15px;
    border: none;
    box-shadow: 0 0 10px rgba(0, 0, 0,0.5);
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    margin: 5px;
    border-radius: 10px;
}
button:hover{
    background-color:rgb(134, 90, 9);
    color: whitesmoke;
    scale: 1.02;
    transition-duration: 0.5s;
    cursor: pointer;
}

#addRowbtn{
    color:white;
    background-color:rgb(134, 90, 9);
    padding:11px 25px;
}
#addRowbtn:hover{
    color: rgb(118, 81, 12);
    background-color: whitesmoke;
    scale: 1.02;
    transition-duration: 0.5s;
    cursor: pointer;
}
.table_row{
    background-color: rgb(237, 232, 232);
}
.table_head{
    justify-content: center;
    align-items: center;
}
th,tr{
    text-align: center;
    align-content:center;
}

.PDF{
    display: flex;
    justify-content: end;
}