body{
    margin:0px;
    overflow-x: hidden;
    height: 100vh;
}

.Navbar{
    background-image: url(Nav_back.png);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size:100% 100%;
    box-shadow:0px 4px 8px 0px rgba(0,0,0 ,0.8);
    height: 15%;
    position:sticky;
    width: 100%;
    align-items: center;
    top: 0;
    z-index: 100;
}

.heading{
    margin-top: 20px;
}

.content{
    margin-left: 60px;
    margin-right: 60px;
}

.details{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    margin-top: 10px;
}

.option1{
    flex-basis: 150px;
    flex-grow: 1.5;
    flex-shrink: 1.5;
    display: grid;
    grid-template-rows: 1fr 1fr;
}

.option2{
    flex-basis: 180px;
    flex-grow: 1.8;
    flex-shrink: 1.8;
    display: grid;
    grid-template-rows: 1fr 1fr;
}

.option3{
    flex-basis: 220px;
    flex-grow: 2.2;
    flex-shrink: 2.2;
    display: grid;
    grid-template-rows: 1fr 1fr;
}

select{
    width: 100px; 
}

label{
    font-size: x-large;
}

.submit{
    height: 40px;
    width: 80px;
    align-self: center;
    margin: 20px;
    flex-grow: 1.2;
    flex-shrink: 1.2;
}

.table{
    margin-top: 40px;
    overflow-x: auto;
}

.table_header{
    background-color:rgb(134, 90, 9);
    color: whitesmoke;
}

.table_row{
    background-color: rgb(235, 232, 232);
}
th,tr{
    text-align: center;
    align-content:center;
}
button{
    background-color:rgb(134, 90, 9);
    color: whitesmoke;
       
    padding:5px 15px;
    border: none;
    box-shadow: 0 0 10px rgba(0, 0, 0,0.5);
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    margin: 5px;
    border-radius: 10px;
    z-index: 50;
}
button:hover{
  
    scale: 1.02;
    transition-duration: 0.5s;
    cursor: pointer;
    color: rgb(118, 81, 12);
    background-color: whitesmoke;
    z-index: 50;
}