.SideBar{
    display: grid;
    grid-template-rows: 1fr 6fr 1fr;
    position: fixed;
    right: -45%; 
    width: 30%;
    height: 100%;
    background:rgba(1,1,1,0.7);
    row-gap: 30px;
    transition: all 0.8s ease;
    top: 0%;
}

.Items{
    display: flex;
    flex-direction: column;
}

.NavItem a{
    color: white;
    font-size:130%;
    font-family:Arial, Helvetica, sans-serif;
    opacity:2;
    text-decoration: none;
}

.NavItem a i{
    color: white;
    margin-right: 3%;
}

.NavItem{
   text-align: center;
   box-sizing: border-box;
   align-content: center;
   border-top: 1px solid rgba(255,255,255,.1);
   border-bottom: 1px solid black;
   padding: 10px;
   flex-grow: 1;
   flex-shrink: 1;
}

.NavItem:hover{
    color: white;
    background-color: black;
    transition-duration: 0.5s;
    opacity:1;
}

.NavItem a:hover{
    text-decoration: none;
}

#check{
    display: none;
}

label #btn, label #cancel{
    position: absolute;
    cursor: pointer;
}

label #btn{
    position: absolute;
    right:2%;
    top: 1%;
    font-size: 35px;
    color: white;
    transition: all 0.5s ease;
    padding: 30px; 
}

.Logo-Name{
    color: white;
    margin-left: 1%;
    font-size: xx-large;
    transition: all 0.5s ease;
    font-family:cursive;
    padding: 30px;
}

label #cancel{
    z-index: 1111;
    display: none;
    top:5%;
    color:white;
    font-size: x-large;  
}

#check:checked ~ .SideBar{
    right: 0%;
}

#check:checked ~ label #btn{
    right: 40%;
    opacity: 0;
    pointer-events: none;
}

#check:checked ~ label #cancel{
    position: fixed; 
    right:25%;
     top: 5%;
     display: block;
     animation-name:slideLeft;
     animation-duration: 0.8s;
}

@keyframes slideLeft{
    from{transform:translateX(4000%)}
}


.logo{
    filter: invert(100%);
    padding-top: 1.5%;
    padding-left: 2%;
    transition: none;
}