{% extends "users/base.html" %}


{% block content %}
    
    <div class="content-section">
        <div class="media">
                <div class="Img">
                    <img class="profile_pic" src="{{ user.profile.image.url }}">
                </div>
                
                <div class="media-body">
                    <h2 class="username">{{ user.username }}</h2>
                    <p class="email">{{ user.email }}</p>
                </div>
        </div>
        <form method="POST" action="{% url 'logout' %}">
            {% csrf_token %}
            <button class="logout" type="submit">Logout</button>
        </form>
{% endblock content %}
   