body{
    margin: 0px;
    background-image: url('Back_img.png');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size:100% 100%;
    height: 100vh;
    overflow-y: hidden;
}
*{
    margin: 0;
    padding: 0;
    
}
.content-section{
    position: fixed;
    left: 30%;
    top:20%;
    width:40%;
    background: transparent;
    backdrop-filter: blur(10px);
    border:2px solid rgba(255,255,255,.2);
    box-shadow: 0 0 10px rgba(0, 0, 0,0.5);
    height:60%;
    color: black;
    font-size: 25px;
    padding-left: 2%;
    padding-top: 2%;
    border-radius: 5px;
}

.Logo-Name{
    color: white;
    margin-left: 1%;
    font-size: xx-large;
    padding: 30px;
}

.content{
    position: fixed;
    left: 22%;
    top:40%;
    width:55%;
    background: transparent;
    backdrop-filter: blur(10px);
    border:2px solid rgba(255,255,255,.2);
    box-shadow: 0 0 10px rgba(0, 0, 0,0.5);
    height:20%;
    border-radius: 5px;
    align-items: center;
}
.content .text-muted{
    position: fixed;
    margin-left:17%;
    font-size: 120%;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
.content p{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 300%;
    font-weight: bold;
    color: white;
    padding-left: 3%;
    padding-right: 3%;
    text-shadow:2px 2px 2px #000000;
    text-align: center;
    justify-content: center;
    padding-top: 4.5%;
}
.text-muted{
    text-decoration: none;
    color: white;
    padding-bottom: 8%;
    display:inline-block;
    font-size: 15px;
}
.helptext{
    display: none;
    font-size: 15px;
    
}
.btn{
    background-color:white;
    color: rgb(118, 81, 12);
    font-size: large;
    box-shadow: 0 0 10px rgba(0, 0, 0,0.5);
    border-radius: 40px;
    padding:15px 30px;
    border: white;
    margin-top: 4%;
    margin-bottom: 1%;
    display:inline-block;
    margin-left: 3%;
    width:90%;
    height:50px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    
}
.btn:hover{
    scale: 1.02;
    background-color:rgb(118, 81, 12) ;
    color: white;
    transition-duration: 0.5s;
    cursor:pointer;
}
fieldset{
    border: 0;
}
Legend{
    margin-left: 30%;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: larger;
    font-weight: bold;
    color: white;
    margin-left: 40%;
    text-shadow:2px 2px 2px #000000;
}
input{
    background: transparent;
    border:2px solid rgba(255, 255, 255, 0.5);
    width: 90%;
    height: 40px;
    outline: none;
    border-radius: 40px;
    margin-left: 3%;
    margin-right: 5%;
    
}
label{
    color: white;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: large;
    text-shadow:2px 2px 2px #000000;
}
.ml-2{
    text-decoration: none;
    color:black;
    font-size: 17px;
    padding-left: 5px;
}
.ml-2:hover{
     color: rgb(7, 7, 163);
     scale:1.5;
     transition-duration: 0.3s;
}
.profile_pic{
    width:150px;
}

.SideBar{
    display: flex;
    flex-direction: column;
    position: fixed;
    right: -45%; 
    width: 30%;
    height: 100%;
    background:rgba(1,1,1,0.7);
    row-gap: 30px;
    transition: all 0.8s ease;
    top: 0%;
}

.Items{
    flex-grow: 1;
    flex-shrink: 1;
    display: flex;
    flex-direction: column;
}

.Empty{
    flex-basis: 200px;
    flex-grow: 1;
    flex-shrink: 1;
}

.NavItem a{
    flex-basis: auto;
    flex-grow: 1;
    flex-direction: 1s;
    color: white;
    font-size:60%;
    font-family:Arial, Helvetica, sans-serif;
    opacity:2;
    text-decoration: none;
}
.NavItem a i{
    color: white;
   margin-right: 3%;
}
.NavItem{
   text-align: center;
   box-sizing: border-box;
   align-content: center;
   border-top: 1px solid rgba(255,255,255,.1);
   border-bottom: 1px solid black;
   padding: 10px;
}
.NavItem:hover{
    color: white;
    background-color: black;
    transition-duration: 0.5s;
    opacity:1;
}
.NavItem a:hover{
    text-decoration: none;
}

#check{
    display: none;
}

label #btn, label #cancel{
    position: absolute;
    cursor: pointer;
}
label #btn{
    position: fixed;
    right:2%;
    top: 1%;
    font-size: 35px;
    color: white;
    transition: all 0.5s ease;
    padding: 30px;
   
}
.Logo-Name{
    color: white;
    margin-left: 1%;
    font-size: xx-large;
    transition: all 0.5s ease;
    font-family:cursive;
    padding: 30px;
}
label #cancel{
    position: fixed;
    z-index: 1111;
    display: none;
    top:5%;
    color:white;
    font-size: x-large;
   
}

#check:checked ~ .SideBar{
    right: 0%;
}
#check:checked ~ label #btn{
    right: 40%;
    opacity: 0;
    pointer-events: none;
}
#check:checked ~ label #cancel{
     right:25%;
     display: block;
     animation-name:slideLeft;
     animation-duration: 0.8s;
}
@keyframes slideLeft{
    from{transform:translateX(4000%)}
}
.username{
    
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: xx-large;
    text-align: center;
}
.email{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: xx-large;
    text-align: center;
}
.logout{
    background-color:white;
    color: rgb(118, 81, 12);
    font-size: large;
    box-shadow: 0 0 10px rgba(0, 0, 0,0.5);
    border-radius: 40px;
    padding:15px 30px;
    border: white;
    margin-top: 4%;
    margin-bottom: 1%;
    display:inline-block;
    margin-left: 3%;
    width:90%;
    height:50px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    
}
.logout:hover{
    scale: 1.02;
    background-color:rgb(118, 81, 12) ;
    color: white;
    transition-duration: 0.5s;
    cursor:pointer;
}
.media{
    flex-direction: column;
}

.media-body{
    display: grid;
    grid-template-rows: 1fr 1fr;
    width: 100%;
    align-items: center;
}

.Img{
    display: grid;
    grid-template-columns: 1fr;
    width: 100%;
}

.profile_pic{
    justify-self: center;
}

.username{
    margin-bottom: 0px;
}

.username, .email{
    overflow: hidden;
    text-overflow: ellipsis;
}


.logo{
    width: 200px;
    filter: invert(100%);
}

#Logo{
    padding: 0px;
    padding-top: 1%;
}