
body{
    margin:0px;
    overflow-x: hidden;
    height: 100vh;
}

.Navbar{
    background-image: url(Nav_back.png);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size:100% 100%;
    box-shadow:0px 4px 8px 0px rgba(0,0,0 ,0.8);
    height: 15%;
    position:sticky;
    align-items: center;
    top: 0;
    width: 100%;
}

.heading{
    margin-top: 10px;
    margin-left: 30px;
}

.details{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin-left: 30px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    margin-top: 10px;
}

.option1{
    flex-basis: 120px;
    flex-grow: 1.2;
    flex-shrink: 1.2;
    display: grid;
    grid-template-rows: 1fr 1fr;
}

.option2{
    flex-basis: 120px;
    flex-grow: 1.2;
    flex-shrink: 1.2;
    display: grid;
    grid-template-rows: 1fr 1fr;
}

.option3{
    flex-basis: 100px;
    flex-grow: 1;
    flex-shrink: 1;
    display: grid;
    grid-template-rows: 1fr 1fr;
}

label{
    font-size: x-large;
}

select{
    width:100px;
    height: 70%;
    background-color: whitesmoke;
    box-shadow: 0 0 10px rgba(0, 0, 0,0.2);
}

#btnReset{
    background-color:rgb(134, 90, 9);
    color: white;
    padding: 10px;
    border: none;
    box-shadow: 0 0 10px rgba(0, 0, 0,0.5);
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    margin: 5px;
    width: 100px;
    height: 50px;
    align-self: center;
    margin-right: 30px;
}
#btnReset:hover{
    scale: 1.02;
    color:rgb(134, 90, 9);
    background-color: white;
    transition-duration: 0.5s;
    border-radius: 5px;
    cursor: pointer;
}

.bottom{
    margin-top: 30px;
    width: 100%;
}

.canvas{
    width: 90%;
    margin: 5%;
}

.table{
    width: 90%;
    margin: 5%;
    margin-right: 30px;
    overflow-x: auto;
}

.table_header{
    background-color: antiquewhite;
}
th,tr{
    text-align: center;
    align-content:center;
}